---
layout: category
ref: consent
permalink: /en/consent/
---
{% assign category = site.categories | where:"ref", "consent" | first %}

{% include pack-navigation-arrows.html ref=category.ref %}

<div class="category-primary-header" style="background: {{category.color}};"> {{category.text_content[0].title}} </div>
<div class="category-content-row">
    <div class="category-content-1-column">
        <p style="text-align: justify">{{category.text_content[0].text[0]}}</p>
        <div style="text-align:center">
            <img src="{{site.baseurl}}/assets/images/Illustration_Scan_Coloured_22.png" alt="Methods cards" title="Methods cards" style="height: 150px">
            <img src="{{site.baseurl}}/assets/images/Illustration_Scan_Coloured_23.png" alt="Outcomes cards" title="Outcomes cards" style="height: 150px">
        </div>
    </div>
</div>
<div class="category-secondary-header" style="background: #ced36e;"> {{category.text_content[1].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column" style="padding: 30px 30px 20px 30px"> 
        <p>{{category.text_content[1].text[0]}}</p>
        <ul class="prompts">
            <li style="padding-bottom: 0px">{{category.text_content[1].text[1]}}</li>
            <li style="padding-bottom: 0px">{{category.text_content[1].text[2]}}</li>
            <li style="padding-bottom: 0px">{{category.text_content[1].text[3]}}</li>
            <li style="padding-bottom: 0px">{{category.text_content[1].text[4]}}</li>
        </ul>
    </div>
    <div class="category-content-2-column" style="padding: 30px 30px 20px 30px">
        <p>{{category.text_content[1].text[5]}}</p>
    </div>
    <div class="category-content-title">methods of enquiry</div>
    {% include methods_cards.html %}
    <div class="category-content-title" style="padding-top: 20px;">outcomes</div>
    {% include output_cards.html %}
    <div style="text-align: center; width: 100%; padding-bottom: 20px;">
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/consent/methods-cards.pdf">Download Methods Cards</a>
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/consent/outcomes-cards.pdf">Download Outcomes Cards</a>
    </div>
</div>
<div class="category-secondary-header" style="background: #ced36e;"> {{category.text_content[2].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column"> 
            <p>{{category.text_content[2].text[0]}}</p>
            <div style="text-align:center">
                <img src="{{site.baseurl}}/assets/images/IMG_3442.png" alt="Consent postcards" title="Consent postcards" style="height: 70px">
            </div>
    </div>
    <div class="category-content-2-column">
        <p>{{category.text_content[2].text[1]}}</p>
        <ul class="prompts">
            <li>{{category.text_content[2].text[2]}}<br><a href="https://{{category.text_content[2].text[3]}}" target="_blank">{{category.text_content[2].text[3]}}</a></li>
            <li>{{category.text_content[2].text[4]}}<br><a href="https://{{category.text_content[2].text[5]}}" target="_blank">{{category.text_content[2].text[5]}}</a></li>
        </ul>
    </div>
    <div style="text-align: center; padding-bottom: 20px; width: 100%">
        <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/consent/consent-postcards.pdf">Download Consent Postcards</a>
    </div>
</div>
<div class="category-secondary-header" style="background: #ced36e;"> {{category.text_content[3].title}} </div>
    <div class="category-content-row">
        <div class="category-content-2-column"> 
            <p>{{category.text_content[3].text[0]}}</p>
            <div style="display:flex;justify-content:center;align-items:center;">
                <div>
                    <ul class="prompts">
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[1]}}</strong></li>
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[2]}}</strong></li>
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[3]}}</strong></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class="category-content-2-column" style="margin: auto;">
            <div style="background: #c4ca49; height: 115px; width: 264px; color: white; padding: 10px; margin: auto;">
                {{category.text_content[3].text[4]}}
            </div>
        </div>
        <div style="text-align: center; padding-bottom: 20px; width: 100%">
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/consent/consent-capture-sheets.pdf">Download Capture Sheets</a>
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/consent/consent-facilitation-sheets.pdf">Download Facilitation Sheets</a>
        </div>
    </div>
    <hr class="horizontal-divider">
    <div style="text-align: center; padding-bottom: 20px; width: 100%">
        <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/consent/consent-all.pdf">Download All</a>
    </div>

