---
layout: category
ref: moral-qualities
permalink: /en/moral-qualities/
title: Moral Qualities
---
{% assign category = site.categories | where:"ref", "moral-qualities" | first %}

{% include pack-navigation-arrows.html ref=category.ref %}

<div class="category-primary-header" style="background: {{category.color}};"> {{category.text_content[0].title}} </div>
<div class="category-content-row">
    <div class="category-content-1-column">
        <p style="text-align: justify">{{category.text_content[0].text[0]}}</p>
        <p style="text-align: justify; margin-bottom: 30px;">{{category.text_content[0].text[1]}}</p>
        {% include moral_qualities_cards.html %}
    </div>
</div>
<div class="category-secondary-header" style="background: {{category.color}}"> {{category.text_content[1].title}} </div>
<div class="category-content-row">
    <div class="category-content-1-column"> 
        <p>{{category.text_content[1].text[0]}}</p>
    </div>
    <div class="category-content-1-column"> 
        {% include provocation_cards.html %}
    </div>
</div>
<div class="category-secondary-header" style="background: {{category.color}}"> {{category.text_content[2].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column"> 
        <p>{{category.text_content[2].text[0]}}</p>
    </div>
    <div class="category-content-2-column"> 
        <p>Add image</p>
    </div>
</div>
<div class="category-secondary-header" style="background: {{category.color}}"> {{category.text_content[3].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column"> 
            <p>{{category.text_content[3].text[0]}}</p>
            <p>{{category.text_content[3].text[1]}}</p>
            <div style="display:flex;justify-content:center;align-items:center;">
                <div>
                    <ul class="prompts">
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[2]}}</strong></li>
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[3]}}</strong></li>
                    </ul>
                </div>
            </div> 
    </div>
    <div class="category-content-2-column" style="margin: auto;">
        <div style="background: {{category.color}}; height: 115px; width: 264px; color: white; padding: 10px; margin: auto;">
            {{category.text_content[3].text[4]}}
        </div>
    </div>
    <hr class="horizontal-divider">
    <div style="text-align: center; padding-bottom: 20px; width: 100%">
        <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/moral-qualities/provocation-cards.pdf"><i class="fas fa-download"></i> Provocation & Moral Quality Cards</a>
    </div>
</div>


