---
layout: category
ref: provocations
permalink: /en/provocations/
title: Provocations
lang: en
---
{% assign category = site.categories | where:"ref", "provocations" | first %}

{% include pack-navigation-arrows.html ref=category.ref %}

<div class="category-primary-header" style="background: {{category.color}};"> {{category.text_content[0].title}} </div>
<div class="category-content-row">
    <div class="category-content-1-column">
        <p style="text-align: justify">{{category.text_content[0].text[0]}}</p>
        <div style="text-align: center">
            <img src="{{site.baseurl}}/assets/images/Illustration_Scan_Coloured.png" alt="Provocation Cards" title="Provocation Cards" style="height: 150px;">
        </div>
    </div>
</div>
<div class="category-secondary-header" style="background: #8b5f53;"> {{category.text_content[1].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column"> 
        <p>{{category.text_content[1].text[0]}}</p>
    </div>
    <div class="category-content-2-column">
        <p style="padding-bottom: 0px">{{category.text_content[1].text[1]}}</p>
        <ul class="prompts">
            <li style="padding-bottom: 0px; font-weight: bold;">{{category.text_content[1].text[2]}}</li>
            <li style="padding-bottom: 0px; font-weight: bold;">{{category.text_content[1].text[3]}}</li>
            <li style="padding-bottom: 0px; font-weight: bold;">{{category.text_content[1].text[4]}}</li>
            <li style="padding-bottom: 0px; font-weight: bold;">{{category.text_content[1].text[5]}}</li>
        </ul>
        <p>{{category.text_content[1].text[6]}}</p>
    </div>
    {% include provocation-ds-cards-carousel.html %}
    <div style="text-align: center; width: 100%; padding-bottom: 20px;">
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/provocations/provocation-cards.pdf"><i class="fas fa-download"></i> Provocation Cards</a>
    </div>
</div>
<div class="category-secondary-header" style="background: #8b5f53;"> {{category.text_content[2].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column" style="display: flex; justify-content: center; align-items: center;"> 
            <p>{{category.text_content[2].text[0]}}</p>
        </div>
        <div class="category-content-2-column">
            <div style="text-align: center;">
                <a href="{{site.baseurl}}/en/values/">
                    <img src="{{site.baseurl}}/assets/images/Illustration_Scan_Coloured7.png" alt="Value Cards" title="Value Cards" style="height: 150px; text-align: center;">
                </a>
            </div>
        </div>
</div>
<div class="category-secondary-header" style="background: #8b5f53;"> {{category.text_content[3].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column"> 
        <p>{{category.text_content[3].text[0]}}</p>
        <div>
            <ul class="prompts">
                <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[1]}}</strong></li>
            </ul>
        </div>
    </div>
    <div class="category-content-2-column" style="margin: auto;">
        <div style="background: #76443c; height: 115px; width: 264px; color: white; padding: 10px; margin: auto;">
            {{category.text_content[3].text[2]}}
        </div>
    </div>
    <div style="text-align: center; width: 100%">
        <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/provocations/provocations-capture-sheets.pdf"><i class="fas fa-download"></i> Capture Sheets</a>
        <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/provocations/provocations-facilitation-sheets.pdf"><i class="fas fa-download"></i> Facilitation Sheets</a>
    </div>
</div>
<hr class="horizontal-divider">
<div style="text-align: center; padding-bottom: 20px; width: 100%">
    <a download class="download-button-inverted" href="{{site.baseurl}}/assets/pdfs/provocations/provocations-all.pdf">Download All</a>
</div>

