---
layout: category
ref: team-members
permalink: /en/team-members/
title: Team Members
lang: en
---
{% assign category = site.categories | where:"ref", "team-members" | first %}

{% include pack-navigation-arrows.html ref=category.ref %}

<div class="category-primary-header" style="background: {{category.color}};"> {{category.text_content[0].title}} </div>
<div class="category-content-row">
    <div class="category-content-1-column">
        <p style="text-align: justify">{{category.text_content[0].text[0]}}</p>
        <div style="display:flex;justify-content:center;align-items:center;">
            <div>
                <ul class="prompts">
                    <li style="padding-bottom: 0px"><strong>{{category.text_content[0].text[1]}}</strong></li>
                    <li style="padding-bottom: 0px"><strong>{{category.text_content[0].text[2]}}</strong></li>
                </ul>
            </div>
        </div>     
        <p>{{category.text_content[0].text[4]}}</p>
    </div>
</div>
<div class="category-secondary-header" style="background: #d9bc6b"> {{category.text_content[1].title}} </div>
<div class="category-content-row">
    <div class="category-content-2-column" style="padding: 30px 30px 20px 30px"> 
        <p>{{category.text_content[1].text[0]}}</p>
        <p>{{category.text_content[1].text[1]}}</p>
    </div>
    <div class="category-content-2-column" style="padding: 30px 30px 20px 30px">
        <p>{{category.text_content[1].text[2]}}</p>
        <ul class="prompts">
            <li style="padding-bottom: 0px">{{category.text_content[1].text[3]}}</li>
            <li style="padding-bottom: 0px">{{category.text_content[1].text[4]}}</li>
            <li style="padding-bottom: 0px">{{category.text_content[1].text[5]}}</li>
        </ul>
    </div>
    <div class="category-content-1-column" style="text-align: center; width: 100%">
        {% include role-cards-carousel.html %}
    </div>
    <div style="text-align: center; width: 100%; padding-bottom: 20px;">
            <a download class="download-button" href="javascript:roleCardsPDFGenerator().downloadPdf(roleCardsForPDF);"><i class="fas fa-download"></i> Role Cards</a>
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/team-members/team-members-map.pdf"><i class="fas fa-download"></i> Role Map</a>
    </div>
</div>
<div class="category-secondary-header" style="background: #d9bc6b;"> {{category.text_content[3].title}} </div>
    <div class="category-content-row">
        <div class="category-content-2-column"> 
            <p>{{category.text_content[3].text[0]}}</p>
            <p>{{category.text_content[3].text[1]}}</p>
            <div style="display:flex;justify-content:center;align-items:center;">
                <div>
                    <ul class="prompts">
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[2]}}</strong></li>
                        <li style="padding-bottom: 0px"><strong>{{category.text_content[3].text[3]}}</strong></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class="category-content-2-column" style="margin: auto;">
            <div style="background: #d2b048; height: 115px; width: 264px; color: white; padding: 10px; margin: auto;">
                {{category.text_content[3].text[4]}}
            </div>
        </div>
        <div style="text-align: center; width: 100%">
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/team-members/team-members-capture-sheets.pdf"><i class="fas fa-download"></i> Capture Sheets</a>
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/team-members/team-members-facilitation-sheets.pdf"><i class="fas fa-download"></i> Facilitation Sheets</a>
        </div>
    </div>
    <hr class="horizontal-divider">
    <div style="text-align: center; padding-bottom: 20px; width: 100%">
        <a download class="download-button-inverted" href="javascript:downloadTeamMembersZip()">Download All</a>
    </div>

    {% assign role_cards = site.role_cards | sort: "sequence" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.0/jspdf.umd.min.js"></script>
    <script src="{{ site.baseurl }}/pdf_maker/pdfMaker-team-members.js"></script>
    <script src="{{ site.baseurl }}/pdf_maker/Calibri-normal.js"></script>
    <script src="{{ site.baseurl }}/pdf_maker/Pasajero-normal.js"></script>

    <script src="{{ site.baseurl }}/js/jszip.min.js"></script>
    <script src="{{ site.baseurl }}/js/FileSaver.min.js"></script>
    <script src="{{ site.baseurl }}/pdf_maker/zip-helper.js"></script>
    
    <script>
        addPasajeroFont(window.jspdf.jsPDF);
        addCalibriFont(window.jspdf.jsPDF);
        
        const roleCardsForPDF = [];

        let c = {};
        let contribution = [];

    {% for card in role_cards %}
        c.ref = "{{card.ref}}";
        c.name = "{{card.name}}";
        c.subname = "{{card.subname}}";
        c.sequence = "{{card.sequence}}";
        c.type= "{{card.type}}";
        {% for contribution in card.contribution %}
        contribution.push("{{contribution}}");
        {% endfor %}
        c.contribution = [...contribution];
        roleCardsForPDF.push({...c});
        c = {};
        contribution = []; 
    {% endfor %}
    
    </script>