{% assign animal_cards = site.animal_cards | sort: "ref" %}

<div class="animal-carousel-container">
  {% for card in animal_cards %}
  <div class="animalSlides animal-carousel-fade">
      <div class="animal-carousel-number">{{ forloop.index }} / {{ forloop.length }} </div>
      <img src="{{site.baseurl}}/assets/images/{{card.image}}" style="width:100%;">
  </div>
  {% endfor %}
  <a class="animal-carousel-prev" onclick="plusAnimalSlides(-1)">&#10094;</a>
  <a class="animal-carousel-next" onclick="plusAnimalSlides(1)">&#10095;</a>
</div>

<script>
    var animalSlideIndex = 1;
    showAnimalSlides(animalSlideIndex);

    function plusAnimalSlides(n) {
        showAnimalSlides(animalSlideIndex += n);
    }

    function showAnimalSlides(n) {
      var i;
      var slides = document.getElementsByClassName("animalSlides");

      if (n > slides.length) {animalSlideIndex = 1}    
      if (n < 1) {animalSlideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      } 
      slides[animalSlideIndex-1].style.display = "block";    
    }
</script>

