<div class="card-list" style="margin-bottom: 20px; padding-top: 0px; margin-top: -10px;">
    <div id="feedback-container" style="background: white;
                                    border-radius: 12px;
                                    width: 300px;
                                    font-family: Calibri;
                                    font-size: 20px;
                                    border: lightslategrey;
                                    border-style: dashed;">
        <p> Help us develop this roadmap, by giving your feedback! </p>
        <a class="download-button" href="{{site.baseurl}}/{{page.lang}}/feedback" style="width: 200px;margin-bottom: 20px;"><i class="fas"></i> Click Here! </a> 
    </div>
</div>