<div id="footer">
    <div id="footer-left">
        <div class="footer-section">
            <img src="{{site.baseurl}}/assets/images/logo.gif" alt="Ongoingness" title="Ongoingness" style="width: 258px;">
        </div>
    </div>
    <div id="footer-right">
        <div class="footer-section">
            <!--div class="right-container">
                <div class="footer-title">{{ site.data.t.could_not_find_help[page.lang] }}</div>
                <a class="footer-button-big" href="{{ site.baseurl}}/{{ page.lang }}/let-us-help">{{
                    site.data.t.let_us_help[page.lang] }}</a> <a class="footer-button-big" href="{{ site.baseurl}}/{{ page.lang }}/recommend-mentor">{{
                    site.data.t.recommend_mentor[page.lang] }}</a>
            </div-->
            <img src="{{site.baseurl}}/assets/images/all-logos.jpg" alt="Partners" title="Partners" style="width: 258px;">
        </div>
    </div>
</div>