<div id="footer">
    <div id="footer-left">
        <div class="footer-section">
            <img src="{{site.baseurl}}/assets/images/logo.gif" alt="Ongoingness" title="Ongoingness" style="width: 150px;">
        </div>
    </div>
    <div id="footer-right">
        <div class="footer-section">
            <div style="float: right;    
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            align-items: stretch;">
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div style="padding: 10px;"> 
                        <a>
                            <img src="{{site.baseurl}}/assets/images/northumbria-university-logo.png" alt="Partners" title="Partners" style="width: 150px;">
                        </a>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div style="padding: 10px;">
                        <a>
                            <img src="{{site.baseurl}}/assets/images/newcastle-university-logo.png" alt="Partners" title="Partners" style="width: 150px;">
                        </a>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div style="padding: 10px;">
                        <a>
                            <img src="{{site.baseurl}}/assets/images/sheffield-hallam-logo.gif" alt="Partners" title="Partners" style="width: 110px;"></a>
                        </div>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div style="padding: 10px;">               
                        <a>
                            <img src="{{site.baseurl}}/assets/images/epsrc-logo.jpg" alt="Partners" title="Partners" style="width: 150px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>