<div id="footer">
    <div id="footer-left">
        <div class="footer-section">
            <a href="https://enablingongoingness.com/">
                <img src="{{site.baseurl}}/assets/images/logo.gif" alt="Ongoingness" title="Ongoingness" style="width: 150px;">
            </a>
        </div>
    </div>
    <div id="footer-right">
        <div class="footer-section">
            <div class="card-list" style="padding: 0px;">
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div class="partner-logo-container"> 
                        <a href="https://www.northumbria.ac.uk/">
                            <img src="{{site.baseurl}}/assets/images/NU_logo_black.png" alt="Northumbria University Logo" title="Northumbria University Logo" style="width: 100%;">
                        </a>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div class="partner-logo-container">
                        <a href="https://www.ncl.ac.uk/">
                            <img src="{{site.baseurl}}/assets/images/Newcastle-University-logo.jpg" alt="Newcastle University Logo" title="Newcastle University Logo" style="width: 100%;">
                        </a>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div class="partner-logo-container">
                        <a href="https://www.shu.ac.uk/">
                            <img src="{{site.baseurl}}/assets/images/Sheffield Hallam logo.png" alt="Sheffield Hallam University Logo" title="Sheffield Hallam University Logo" style="width: 100%;">
                        </a>
                    </div>
                </div>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <div class="partner-logo-container">               
                        <a href="https://epsrc.ukri.org/">
                            <img src="{{site.baseurl}}/assets/images/sponsor-bwhighres.jpg" alt="EPSRC Logo" title="EPSRC Logo" style="width: 100%;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>