<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ethical Roadmap {{ page.title | replace: '_', ' ' | capitalize }}</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    
    <script src="https://cdn.usefathom.com/script.js" data-site="FDAATDIK" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/styles-shared.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/styles.css">
    <link rel='stylesheet' href="{{ site.baseurl }}/styles/fonts.css">

</head>