<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Primary Meta Tags -->
    <title> Ethical Roadmap {{ page.title | replace: '_', ' ' | capitalize }}</title>
    <meta name="title" content="Ethical Roadmap">
    <meta name="description" content="The Ethical Roadmap is a set of discursive resources developed within the EPSRC project Enabling Ongoingness to support research teams in navigating ethical issues, concerns and opportunities.
    Any moral framework, by its very nature, will be general and broad. Therefore, in order to support the understanding of ethical processes within research across disciplines, this series of practical resources enables group discussion from a range of different angles. The resources are free and open and we hope that different teams will find them useful as they are, but also that some teams will add content to extend the resources in this shared platform. The diversity of research contexts within our global research community will require nuanced content in some resources and we hope that this will become a space to create and share these.
    We suggest beginning by using resources that relate to broader ethical concerns (Values, Team Member Roles and Moral Qualities) then moving to activities that involve support and participants (Critical Friends, Consent and Warp and Weft) and to use the Provocations resource cards both as an activity in its own right and also as a facilitator throughout the other activities to help move the discussion along and bring some practical context to the other resource topics.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicalroadmap.org/">
    <meta property="og:title" content="Ethical Roadmap">
    <meta property="og:description" content="The Ethical Roadmap is a set of discursive resources developed within the EPSRC project Enabling Ongoingness to support research teams in navigating ethical issues, concerns and opportunities.
    Any moral framework, by its very nature, will be general and broad. Therefore, in order to support the understanding of ethical processes within research across disciplines, this series of practical resources enables group discussion from a range of different angles. The resources are free and open and we hope that different teams will find them useful as they are, but also that some teams will add content to extend the resources in this shared platform. The diversity of research contexts within our global research community will require nuanced content in some resources and we hope that this will become a space to create and share these.
    We suggest beginning by using resources that relate to broader ethical concerns (Values, Team Member Roles and Moral Qualities) then moving to activities that involve support and participants (Critical Friends, Consent and Warp and Weft) and to use the Provocations resource cards both as an activity in its own right and also as a facilitator throughout the other activities to help move the discussion along and bring some practical context to the other resource topics.">
    <meta property="og:image" content="{{site.baseurl}}/assets/images/meta_image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ethicalroadmap.org/">
    <meta property="twitter:title" content="Ethical Roadmap">
    <meta property="twitter:description" content="The Ethical Roadmap is a set of discursive resources developed within the EPSRC project Enabling Ongoingness to support research teams in navigating ethical issues, concerns and opportunities.
    Any moral framework, by its very nature, will be general and broad. Therefore, in order to support the understanding of ethical processes within research across disciplines, this series of practical resources enables group discussion from a range of different angles. The resources are free and open and we hope that different teams will find them useful as they are, but also that some teams will add content to extend the resources in this shared platform. The diversity of research contexts within our global research community will require nuanced content in some resources and we hope that this will become a space to create and share these.
    We suggest beginning by using resources that relate to broader ethical concerns (Values, Team Member Roles and Moral Qualities) then moving to activities that involve support and participants (Critical Friends, Consent and Warp and Weft) and to use the Provocations resource cards both as an activity in its own right and also as a facilitator throughout the other activities to help move the discussion along and bring some practical context to the other resource topics.">
    <meta property="twitter:image" content="{{site.baseurl}}/assets/images/meta_image.png">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    
    <script src="https://cdn.usefathom.com/script.js" data-site="FDAATDIK" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/styles-shared.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/styles.css">
    <link rel='stylesheet' href="{{ site.baseurl }}/styles/fonts.css">

</head>