<div class="card-list" style="margin-top: 20px; margin-bottom: 20px;">
    <div id="login-container" style="background: white; border-radius: 12px; width: 300px; padding-top: 30px;">
        <div id="login-container-header" style="padding-bottom: 10px;">
            <img src="{{site.baseurl}}/assets/images/GitHub_Logo.png" style="width:90%; height: auto;">
        </div>
        <div id="login-container-body" style="padding-left: 30px; padding-right: 30px;">
            <form>
                <input id="username" type="text" name="username" value="" placeholder="Username/E-Mail" style="width: 100%; font-size: 18px; margin-bottom: 12px;">
                <input id="password" type="password" name="password" value="" placeholder="Password" style="width: 100%; font-size: 18px; margin-bottom: 22px;">
            </form> 
            <div id="login_info"></div>
        </div>
        <div id="login-container-footer-1">
            <input type="button" value="LOG IN" onclick="login('{{site.baseurl}}/');" style="color: black; border: none; background: none; height: 60px; width: 100%; border-top-style: solid; border-bottom-style: solid; border-color: lightgray; border-width: 1px; font-size: 14px;
            font-weight: 400;
            font-family: Calibri;">
        </div>
        <div style="font-size: 12px; font-weight: 400; font-family: Calibri;"> or </div>
        <div id="login-container-footer-2">
            <div style="text-align: center; width: 100%; padding-bottom: 20px; padding-top: 20px; border-top-style: solid; border-color: lightgray; border-width: 1px;">
                    <a  href="https://github.com/join" target="_blank" rel="noopener noreferrer" style="border: none;
                    background: none;
                    color: black;
                    width: 100%;
                    display: inline-block;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: Calibri;"> REGISTER </a>
            </div>
        </div>
    </div>
</div>
