{% assign category = site.categories | where:"ref", "moral-qualities" | first %}
{% assign moral_qualities_cards = site.moral_qualities_cards | sort: "ref" %}

<div id='role-primary-container'>
    <div class="role-cards-carousel-container">
    {% for card in moral_qualities_cards %}
    {% assign remainder = forloop.index0 | modulo:2 %}
    {% if remainder == 0 %}
        <div class="roleCardPairs">
            <div class="card-list role-cards-list-padding" >
    {% endif %}           
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="role-card-front">
                                <div class="role-card-front-tile" style="color: {{category.color}};">{{ card.front }}</div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="moral-qualities-card-back">
                                {{ card.back }}
                            </div>
                        </div>
                    </div>
                </div>
    {% if remainder != 0 %}
            </div>
            <div class="role-cards-carousel-number">{{ forloop.index }} / {{ forloop.length }}</div>
        </div>
    {% endif %} 
    {% endfor %}
        <a class="role-cards-carousel-prev" onclick="plusPair(-1)">&#10094;</a>
        <a class="role-cards-carousel-next" onclick="plusPair(1)">&#10095;</a>
    </div>
</div>

<script>
    var pairIndex = 1;
    showRoleCardPairs(pairIndex);

    function plusPair(n) {
        showRoleCardPairs(pairIndex += n);
    }

    function showRoleCardPairs(n) {
        var i;
        var slides = document.getElementsByClassName("roleCardPairs");
        if (n > slides.length) {pairIndex = 1}    
        if (n < 1) {pairIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slides[pairIndex-1].style.display = "block";   
    }

    var nContributions = 1;

    function contributionParagraph() {
        
        var paragraphContainer = document.createElement('div');
        paragraphContainer.style = 'display: flex; align-items: center;';
        
        var contribution = document.createElement('textarea'); 
        contribution.classList.add('role-card-contribution-textarea');
        contribution.placeholder = 'contribution';
        contribution.setAttribute('maxlength', '54');
        contribution.addEventListener('keyup', function() {
            textareaAutoGrow(contribution, 10);
        });
        paragraphContainer.appendChild(contribution);
        
        var removeButton = document.createElement('button');
        removeButton.innerText = '-';
        removeButton.addEventListener('click', function() {
            removeButton.closest('.role-card-back').removeChild(paragraphContainer);
            nContributions -= 1;
            document.getElementById('AddContributionButton').style.display = 'block';
        });
        removeButton.title = 'Remove';

        paragraphContainer.appendChild(removeButton);
        
        return paragraphContainer;
    }

    function createNewCardPair(title, subtitle, contributions, type) {
        if(document.getElementsByClassName('flip-card').length % 2 == 0) {
            var roleCardPairs = document.createElement('div');
            roleCardPairs.classList.add('roleCardPairs');
            roleCardPairs.style.display = 'block';
            document.getElementsByClassName('role-cards-carousel-container')[0].appendChild(roleCardPairs);

            var cardList = document.createElement('div');
            cardList.classList.add('card-list');
            cardList.classList.add('role-cards-list-padding');
            roleCardPairs.appendChild(cardList);

            cardList.appendChild(createNewRoleCard(title, subtitle, contributions, type));

            var nPairs =  document.getElementsByClassName('flip-card').length;
            var pairNumber = document.createElement('div');
            pairNumber.classList.add('role-cards-carousel-number');
            pairNumber.innerHTML = nPairs + '/' + nPairs; 
            roleCardPairs.appendChild(pairNumber);
        } else {
            var lastPair = document.getElementsByClassName('roleCardPairs')[document.getElementsByClassName('roleCardPairs')-1];
            lastPair.getElementsByClassName('card-list')[0].appendChild(createNewRoleCard(title, subtitle, contributions, type));
            var nPairs =  document.getElementsByClassName('flip-card').length;
            lastPair.getElementsByClassName('role-cards-carousel-number')[0].innerText = nPairs + '/' + nPairs; 
        }
    }

    function createNewRoleCard(title, subtitle, contributions, type) {

        var sequence = document.getElementsByClassName('flip-card').length + 1;
                 
        var flipCard = document.createElement('div');
        flipCard.classList.add('flip-card');

        var flipCardInner = document.createElement('div');
        flipCardInner.classList.add('flip-card-inner');
        flipCard.appendChild(flipCardInner);
        
        var flipCardFront = document.createElement('div');
        flipCardFront.classList.add('flip-card-front');
        flipCardInner.appendChild(flipCardFront);

        var roleCardFront = document.createElement('div');
        roleCardFront.classList.add('role-card-front');
        roleCardFront.style = 'background: #d8b43b;';
        flipCardFront.appendChild(roleCardFront);
        
        var title = document.createElement('div');
        title.classList.add('role-card-front-tile');
        title.innerText = sequence + '. ' + title;
        roleCardFront.appendChild(title);

        var subtitle = document.createElement('div');
        subtitle.classList.add('role-card-front-subtile');
        subtitle.innerText = subtitle;
        roleCardFront.appendChild(subtitle);

        var flipCardBack = document.createElement('div');
        flipCardBack.classList.add('flip-card-back');
        flipCardInner.appendChild(flipCardBack);

        var roleCardBack = document.createElement('div');
        roleCardBack.classList.add('role-card-back');
        flipCardBack.appendChild(roleCardBack);

        var contributionTitle = document.createElement('p');
        contributionTitle.style = 'text-align: center; font-weight: bold;';
        contributionTitle.innerText = sequence + '. Contribution';
        roleCardBack.appendChild(contributionTitle);

        for(var i = 0; i < contributions.length; i++) {
            var cont = document.createElement('p');
            cont.style = 'text-align: left';
            cont.innerText = contributions[i];
            roleCardBack.appendChild(cont);
        }

        var cardType = document.createElement('role-card-back-type');
        cardType.innerText = type;
        roleCardBack.appendChild(cardType);

        return flipCard;
    }

</script>


