{% assign category = site.categories | where:"ref", "moral-qualities" | first %}
{% assign moral_qualities_cards = site.moral_qualities_cards | sort: "ref" %}

<div id='role-primary-container'>
    <div class="role-cards-carousel-container">
    {% for card in moral_qualities_cards %}
    {% assign remainder = forloop.index0 | modulo:2 %}
    {% if remainder == 0 %}
        <div class="roleCardPairs">
            <div class="card-list role-cards-list-padding" >
    {% endif %}           
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="role-card-front">
                                <div class="role-card-front-tile" style="color: {{category.color}};">{{ card.front }}</div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="moral-qualities-card-back">
                                {{ card.back }}
                            </div>
                        </div>
                    </div>
                </div>
    {% if remainder != 0 %}
            </div>
            <div class="role-cards-carousel-number">{{ forloop.index }} / {{ forloop.length }}</div>
        </div>
    {% endif %} 
    {% endfor %}
        <a class="role-cards-carousel-prev" onclick="plusPair(-1)">&#10094;</a>
        <a class="role-cards-carousel-next" onclick="plusPair(1)">&#10095;</a>
    </div>
</div>

<script>
    var pairIndex = 1;
    showRoleCardPairs(pairIndex);

    function plusPair(n) {
        showRoleCardPairs(pairIndex += n);
    }

    function showRoleCardPairs(n) {
        var i;
        var slides = document.getElementsByClassName("roleCardPairs");
        if (n > slides.length) {pairIndex = 1}    
        if (n < 1) {pairIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slides[pairIndex-1].style.display = "block";   
    }
</script>


