{% assign category = site.categories | where:"ref", "moral-qualities" | first %}
{% assign moral_qualities_cards = site.moral_qualities_cards | sort: "ref" %}

<div id='role-primary-container'>
    <div class="role-cards-carousel-container">
    {% for card in moral_qualities_cards %}
    {% assign remainder = forloop.index0 | modulo:2 %}
    {% if remainder == 0 %}
        <div class="roleCardPairs">
            <div class="card-list role-cards-list-padding" >
    {% endif %}           
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="role-card-front">
                                <div class="role-card-front-tile" style="color: {{category.color}};">{{ card.front }}</div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="moral-qualities-card-back">
                                {{ card.back }}
                            </div>
                        </div>
                    </div>
                </div>
    {% if remainder != 0 %}
            </div>
            <div class="role-cards-carousel-number">{{ forloop.index }} / {{ forloop.length }}</div>
        </div>
    {% endif %} 
    {% endfor %}
        <a class="role-cards-carousel-prev" onclick="plusPair(-1)">&#10094;</a>
        <a class="role-cards-carousel-next" onclick="plusPair(1)">&#10095;</a>
    </div>
</div>

<script>
    var pairIndex = 1;
    showRoleCardPairs(pairIndex);

    function plusPair(n) {
        showRoleCardPairs(pairIndex += n);
    }

    function showRoleCardPairs(n) {
        var i;
        var slides = document.getElementsByClassName("roleCardPairs");
        if (n > slides.length) {pairIndex = 1}    
        if (n < 1) {pairIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slides[pairIndex-1].style.display = "block";   
    }

    var nContributions = 1;

    function contributionParagraph() {
        
        var paragraphContainer = document.createElement('div');
        paragraphContainer.style = 'display: flex; align-items: center;';
        
        var contribution = document.createElement('textarea'); 
        contribution.classList.add('role-card-contribution-textarea');
        contribution.placeholder = 'contribution';
        contribution.setAttribute('maxlength', '54');
        contribution.addEventListener('keyup', function() {
            textareaAutoGrow(contribution, 10);
        });
        paragraphContainer.appendChild(contribution);
        
        var removeButton = document.createElement('button');
        removeButton.innerText = '-';
        removeButton.addEventListener('click', function() {
            removeButton.closest('.role-card-back').removeChild(paragraphContainer);
            nContributions -= 1;
            document.getElementById('AddContributionButton').style.display = 'block';
        });
        removeButton.title = 'Remove';

        paragraphContainer.appendChild(removeButton);
        
        return paragraphContainer;
    }

    function createNewCardPair(title, subtitle, contributions, type) {
        if(document.getElementsByClassName('flip-card').length % 2 == 0) {
            var roleCardPairs = document.createElement('div');
            roleCardPairs.classList.add('roleCardPairs');
            roleCardPairs.style.display = 'block';
            document.getElementsByClassName('role-cards-carousel-container')[0].appendChild(roleCardPairs);

            var cardList = document.createElement('div');
            cardList.classList.add('card-list');
            cardList.classList.add('role-cards-list-padding');
            roleCardPairs.appendChild(cardList);

            cardList.appendChild(createNewRoleCard(title, subtitle, contributions, type));

            var nPairs =  document.getElementsByClassName('flip-card').length;
            var pairNumber = document.createElement('div');
            pairNumber.classList.add('role-cards-carousel-number');
            pairNumber.innerHTML = nPairs + '/' + nPairs; 
            roleCardPairs.appendChild(pairNumber);
        } else {
            var lastPair = document.getElementsByClassName('roleCardPairs')[document.getElementsByClassName('roleCardPairs')-1];
            lastPair.getElementsByClassName('card-list')[0].appendChild(createNewRoleCard(title, subtitle, contributions, type));
            var nPairs =  document.getElementsByClassName('flip-card').length;
            lastPair.getElementsByClassName('role-cards-carousel-number')[0].innerText = nPairs + '/' + nPairs; 
        }
    }

    function createNewRoleCard(title, subtitle, contributions, type) {

        var sequence = document.getElementsByClassName('flip-card').length + 1;
                 
        var flipCard = document.createElement('div');
        flipCard.classList.add('flip-card');

        var flipCardInner = document.createElement('div');
        flipCardInner.classList.add('flip-card-inner');
        flipCard.appendChild(flipCardInner);
        
        var flipCardFront = document.createElement('div');
        flipCardFront.classList.add('flip-card-front');
        flipCardInner.appendChild(flipCardFront);

        var roleCardFront = document.createElement('div');
        roleCardFront.classList.add('role-card-front');
        roleCardFront.style = 'background: #d8b43b;';
        flipCardFront.appendChild(roleCardFront);
        
        var title = document.createElement('div');
        title.classList.add('role-card-front-tile');
        title.innerText = sequence + '. ' + title;
        roleCardFront.appendChild(title);

        var subtitle = document.createElement('div');
        subtitle.classList.add('role-card-front-subtile');
        subtitle.innerText = subtitle;
        roleCardFront.appendChild(subtitle);

        var flipCardBack = document.createElement('div');
        flipCardBack.classList.add('flip-card-back');
        flipCardInner.appendChild(flipCardBack);

        var roleCardBack = document.createElement('div');
        roleCardBack.classList.add('role-card-back');
        flipCardBack.appendChild(roleCardBack);

        var contributionTitle = document.createElement('p');
        contributionTitle.style = 'text-align: center; font-weight: bold;';
        contributionTitle.innerText = sequence + '. Contribution';
        roleCardBack.appendChild(contributionTitle);

        for(var i = 0; i < contributions.length; i++) {
            var cont = document.createElement('p');
            cont.style = 'text-align: left';
            cont.innerText = contributions[i];
            roleCardBack.appendChild(cont);
        }

        var cardType = document.createElement('role-card-back-type');
        cardType.innerText = type;
        roleCardBack.appendChild(cardType);

        return flipCard;
    }

    function saveRoleCards() {
        var title = document.getElementById('new-role-card-title').value;
        var subTitle = document.getElementById('new-role-card-subtitle').value;
        var tempCon = document.getElementsByClassName('role-card-contribution-textarea');
        var contributions = [];
        for(var i = 0; i < tempCon.length; i++) {
            contributions.push(tempCon[i].value);
        }
        var type = document.getElementById('new-role-card-type').value;
        createNewCardPair(title, subTitle, contributions, type);
    

        //writeRoleCard('{{page.lang}}', title, subtTitle, contributions, type);
    }

    function undoRoleCard() {

    }

    function createNewRoleMemberCardForm() {

        //create add new card container
        var addRoleCardContainer = document.createElement('div');
        addRoleCardContainer.classList.add('add-role-card-container');
        document.getElementById('role-primary-container').appendChild(addRoleCardContainer);

        //Add role card button
        /*
        var addRoleCardButton = document.createElement('button');
        addRoleCardButton.innerText = 'Add New Card';
        addRoleCardButton.style = 'margin-bottom: 15px;'
        addRoleCardButton.addEventListener('click', function() {
            document.getElementById('new-role-card-form').style.display = 'block';
        });
        addRoleCardContainer.appendChild(addRoleCardButton);
        */
        //regenerate new value card
        var newRoleCardForm = document.createElement('div');
        newRoleCardForm.id = 'new-role-card-form';
        newRoleCardForm.style = 'outline-style: dashed; outline-color: tomato;'
        newRoleCardForm.style.display = 'none';
        addRoleCardContainer.appendChild(newRoleCardForm);

        var cardList = document.createElement('div');
        cardList.classList.add('card-list');
        newRoleCardForm.appendChild(cardList);

        //card front
        var roleCardFront = document.createElement('div');
        roleCardFront.classList.add('role-card-front');
        roleCardFront.style = 'background: #d8b43b';
        cardList.appendChild(roleCardFront);

        //card title
        var roleCardFrontTitle = document.createElement('textarea');
        roleCardFrontTitle.id = 'new-role-card-title';
        roleCardFrontTitle.classList.add('role-card-front-tile');
        roleCardFrontTitle.classList.add('role-card-textarea');
        roleCardFrontTitle.placeholder = "Title";
        roleCardFrontTitle.style = 'width: 270px; height: 35px; margin-bottom: 5px;';
        roleCardFrontTitle.setAttribute('maxlength', '32');
        roleCardFrontTitle.addEventListener('keyup', function() {
            textareaAutoGrow(roleCardFrontTitle, 20);
        });
        roleCardFront.appendChild(roleCardFrontTitle);

        //card subtitle
        var roleCardFrontSubtitle = document.createElement('textarea');
        roleCardFrontSubtitle.id = 'new-role-card-subtitle';
        roleCardFrontSubtitle.classList.add('role-card-front-subtile');
        roleCardFrontSubtitle.classList.add('role-card-textarea');
        roleCardFrontSubtitle.placeholder = "Subtitle";
        roleCardFrontSubtitle.style = 'height: 20px; width: 180px;';
        roleCardFrontSubtitle.setAttribute('maxlength', '50');
        roleCardFrontSubtitle.addEventListener('keyup', function() {
            textareaAutoGrow(roleCardFrontSubtitle, 20);
        });
        roleCardFront.appendChild(roleCardFrontSubtitle);

        //card back
        var roleCardBack = document.createElement('div');
        roleCardBack.classList.add('role-card-back');
        roleCardBack.style = 'width: 230px; height: 270px; position: relative;';
        cardList.appendChild(roleCardBack);

        //card back title
        var backTitle = document.createElement('p');
        backTitle.style = 'text-align: center; font-weight: bold';
        backTitle.innerText = 'Contribution';
        roleCardBack.appendChild(backTitle);

        //card contributions
        roleCardBack.appendChild(contributionParagraph());

        var addContribution = document.createElement('button');
        addContribution.id = 'AddContributionButton';
        addContribution.innerText = '+';
        addContribution.style = 'width: 100%'; 
        addContribution.addEventListener('click', function() {
            if(nContributions < 4) {
                roleCardBack.insertBefore(contributionParagraph(), addContribution);
                nContributions += 1;
                if(nContributions == 4)
                    addContribution.style.display = 'none';
            }
        });
        roleCardBack.appendChild(addContribution);

        //card type
        var cardType = document.createElement('input');
        cardType.id = 'new-role-card-type';
        cardType.classList.add('role-card-back-type');
        cardType.setAttribute('maxlength', '15');
        cardType.style = "background: white; border: none; text-align: right;";
        cardType.placeholder = 'Card Type';
        roleCardBack.appendChild(cardType);


        //add save and undo buttons
        var container = document.createElement('div');
        container.id = 'edit-buttons-container';
        container.style.display = 'block';

        var saveButton = document.createElement('button');
        saveButton.classList.add('edit-button');
        saveButton.addEventListener('click', function() {
            saveRoleCards();
        });
        container.appendChild(saveButton);

        var saveImg = document.createElement('img');
        saveImg.src = '{{site.baseurl}}/assets/images/save.png';
        saveImg.setAttribute('width', '50px');
        saveImg.setAttribute('height', '50px');
        saveButton.appendChild(saveImg);

        var undoButton = document.createElement('button');
        undoButton.classList.add('edit-button');
        undoButton.addEventListener('click', function() {
            undoRoleCard;
        });
        container.appendChild(undoButton);

        var undoImg = document.createElement('img');
        undoImg.src = '{{site.baseurl}}/assets/images/undo.png';
        undoImg.setAttribute('width', '50px');
        undoImg.setAttribute('height', '50px');
        undoButton.appendChild(undoImg);

        document.getElementById('new-role-card-form').appendChild(container);

    }
    createNewRoleMemberCardForm();

</script>


