{% assign categories = site.categories | sort: 'sequence' %}
<div id="pack-navigation-menu" class="card-list">
    {% for category in categories %}
    <a href="{{ site.baseurl }}{{category.url}}/">
        <div class="category navigation-category" data-ref="{{category.ref}}" data-color="{{category.color}}" style="{% if page.ref==category.ref %} outline-color: {{category.color}}; outline-style: double; {% endif %}">
            <div class="navigation-category-inner" style="background: {{category.color}};">
                <div class="navigation-category-text">{{category.name}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
    <a href="{{ site.baseurl }}/en/case-studies">
        <div class="category navigation-category" data-ref="case-studies" data-color="black" style="{% if page.ref==category.ref %} outline-color: {{category.color}}; outline-style: double; {% endif %}">
            <div class="navigation-category-inner" style="background: black;">
                <div class="navigation-category-text">Case Studies</div>
            </div>
        </div>
    </a>
</div>

<script>
    $(".navigation-category").hover(function() {
        $(this).css("outline-color", $(this).attr('data-color'));
        $(this).css("outline-style", "double");
    }, function() {
        if("{{page.ref}}" != $(this).attr('data-ref')) {
            $(this).css("outline-style", "none");
        }
    });
</script>
 