{% assign categories = site.categories | sort: 'sequence' %}
<div class="card-list">
    {% for category in categories %}
    <div class="category navigation-category" data-ref="{{category.ref}}" data-color="{{category.color}}" data-url="{{ site.baseurl }}{{category.url}}/" style="{% if page.ref==category.ref %} outline-color: {{category.color}}; outline-style: double; {% endif %}">
        <div class="navigation-category-inner" style="background: {{category.color}};">
            <div class="navigation-category-text">{{category.name}}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div id="login-user" style="color: black;"></div>

<script>
    packNavigationLogin();

    $(".navigation-category").click(function() {
        window.location.href = $(this).attr('data-url');
    });

    $(".navigation-category").hover(function() {
        $(this).css("outline-color", $(this).attr('data-color'));
        $(this).css("outline-style", "double");
    }, function() {
        if("{{page.ref}}" != $(this).attr('data-ref')) {
            $(this).css("outline-style", "none");
        }
    });
</script>
 