{% assign category = site.categories | where:"ref", include.ref | first %}
{% assign sequence_number = category.sequence %}

{% if sequence_number > 1 %}
    {% assign previous_sequence = sequence_number | minus:1 %}
    {% assign previous_category = site.categories | where:"sequence", previous_sequence | first %}
    <a href="{{ site.baseurl }}{{previous_category.url}}/">
        <i class="fas fa-arrow-circle-left pack-navigation-arrow pack-navigation-arrow-left" style="color: {{previous_category.color}};"></i>
    </a>
{% endif %}

{% if sequence_number < site.categories.size %}
    {% assign next_sequence = sequence_number | plus:1 %}
    {% assign next_category = site.categories | where:"sequence", next_sequence | first %}
    <a href="{{ site.baseurl }}{{next_category.url}}/">
        <i class="fas fa-arrow-circle-right pack-navigation-arrow pack-navigation-arrow-right" style="color: {{next_category.color}};"></i>
    </a>
{% endif %}



