{% assign values = site.categories | where:"ref", "values" | first %}

<style>

ul.prompts {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul.prompts li:before {
	content: "⁄";
	position: absolute;
    left: 0;
    padding-bottom: 20px;
}

ul.prompts li {
    padding-bottom: 20px;
}

</style>


<div class="mentor-container">
<div class="mentor-section">
    <div class="mentor-card-big sh-2" style="flex-direction: column">
        <div style="display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    background: {{values.color}};
                    font-family: Pasajero, sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: normal;
                    color: white;
                    padding: 12px;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;"> {{values.text_content[0].title}} </div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; text-align: center;">
            <div style="flex: 1; min-width: 250px; padding: 30px; font-family: Calibri;margin: auto; text-align: justify"> 
                {{values.text_content[0].text}}
            </div>
            <div style="flex: 1; min-width: 250px; background:white; padding: 30px">
                <img src="{{site.baseurl}}/assets/images/values.jpg" alt="Values" title="Values" style="height: 250px;">
            </div>
        </div>
        <div style="display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    background: #a54e98;
                    font-family: Pasajero, sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: normal;
                    color: white;
                    padding: 12px;"> {{values.text_content[1].title}} </div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: auto">
            <div style="flex: 1; min-width: 250px; padding: 30px; font-family: Calibri;"> 
                <ul class="prompts">
                    <li>{{values.text_content[1].text}}</li>
                    <li>{{values.text_content[1].text_2}}</li>
                    <li>{{values.text_content[1].text_3}}</li>
                </ul>
            </div>
            <div style="flex: 1; min-width: 250px; background:white; padding: 30px; font-family: Calibri;">
                    <ul class="prompts">
                            <li>{{values.text_content[1].text_4}}</li>
                            <li>{{values.text_content[1].text_5}}</li>        
                    </ul>
            </div>
        </div>
        <div style="display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    background: #a54e98;
                    font-family: Pasajero, sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: normal;
                    color: white;
                    padding: 12px;"> {{values.text_content[2].title}} </div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 1; min-width: 250px; padding: 30px; font-family: Calibri;"> 
                <p>{{values.text_content[2].text}}</p>
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div  style="flex: 1; margin: auto">
                        <div>
                            {{values.text_content[2].text_2[0]}}<br>
                            {{values.text_content[2].text_2[1]}}<br>
                            {{values.text_content[2].text_2[2]}}<br>
                        </div>    
                    </div>
                    <div  style="flex: 1;">
                        <img src="{{site.baseurl}}/assets/images/Values1.jpg" alt="Values" title="Values" style="height: 100px">
                    </div>
                </div>
            </div>
            <div style="flex: 1; min-width: 250px; background:white; padding: 30px; font-family: Calibri;">
                <div><p>{{values.text_content[2].text_3}}</p></div>
                <div style="text-align:center">
                    <img src="{{site.baseurl}}/assets/images/Illustration_Scan_Coloured.png" alt="Values" title="Values" style="height: 100px">
                </div>
            </div>
        </div>
        <div style="display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    background: #a54e98;
                    font-family: Pasajero, sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: normal;
                    color: white;
                    padding: 12px;"> {{values.text_content[3].title}} </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div style="flex: 1; min-width: 250px; padding: 30px; font-family: Calibri;"> 
                    <p>{{values.text_content[3].text}}</p>
                    <p>{{values.text_content[3].text_2}}</p>
                    <div>
                        <ul style="list-style-type:none;">
                            <li>⁄<strong style="padding-left:1em">{{values.text_content[3].text_3}}</strong></li>
                            <li>⁄<strong style="padding-left:1em">{{values.text_content[3].text_4}}</strong></li>
                        </ul> 
                    </div>
                </div>
                <div style="flex: 1; min-width: 250px; background:white; padding: 30px; font-family: Calibri; margin: auto;">
                    <div style="background: #a7549a; height: 115px; width: 264px; color: white; padding: 10px; margin: auto;">
                        {{values.text_content[3].text_5}}
                    </div>
                </div>
            </div> 
    </div>
</div>
</div>
