{% assign values = site.categories | where:"ref", "values" | first %}
{% assign value_cards = site.value_cards %}
<div style="display: flex;
padding: 20px;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align: center;
align-items: stretch;">
    {% for card in value_cards %}
    <div style="height:200px; width:200px;">
        <div style="height:180px; width:180px; background: {{values.color}};">
            <div style="margin: auto; font-family: Pasajero; color: white; padding-top: 75px; font-size:18px">{{card.name}}</div>
        </div>
    </div>
    {% endfor %}
</div>
