@font-face {
    font-family: Calibri;
    src: url(https://github.com/lapc1995/qudwa/raw/gh-pages/fonts/Calibri.ttf);
  }

  @font-face {
    font-family: CalibriBold;
    src: url(sansation_light.woff);
  }

  @font-face {
    font-family: Calibril;
    src: url(https://github.com/lapc1995/qudwa/raw/gh-pages/fonts/Calibri.ttf);
  }

  @font-face {
    font-family: Pasajero;
    src: url(https://github.com/lapc1995/qudwa/raw/gh-pages/fonts/Pasajero.otf);
  }