---
layout: default
---
{% assign intro = site.texts | where:"ref", "intro" | first %}

<style>
body {
    background: white;
}
</style>

<div id="home-container-padding">
    <div id="home-container">
        <div id="home-text">
            {{intro.text}}
        </div>
        <div class="card-list">
            {% include category_cards.html %}  
        </div>
        <div class="download-button-container">
            <button id="downloadAll" download class="download-button" onclick=downloadAll() style="font-size: 25px; padding: 25px 0px; height: 139px;"><i class="fas fa-download"></i> All Content</button>
        </div>
    </div>
</div>


<script>
    $(".category-content").click(function() {
        window.location.href = $(this).attr('data-url');
    });
</script>

{% assign provocation_ds_cards = site.provocation_ds_cards | sort: "ref" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.0/jspdf.umd.min.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/pdfMaker-values.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/pdfMaker-team-members.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/pdfMaker-moral-qualities.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/pdfMaker-consent.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/pdfMaker-provocations.js"></script>

<script src="{{ site.baseurl }}/pdf_maker/Calibri-normal.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/Pasajero-normal.js"></script>
<script src="{{ site.baseurl }}/js/jszip.min.js"></script>
<script src="{{ site.baseurl }}/js/FileSaver.min.js"></script>
<script src="{{ site.baseurl }}/pdf_maker/zip-helper.js"></script>

<script>
    addPasajeroFont(window.jspdf.jsPDF);
    addCalibriFont(window.jspdf.jsPDF);

    const loadPdfFile = async(url) => {
        const arrayBuffer = await fetch(url).then(res => res.arrayBuffer());
        const pdf = await PDFLib.PDFDocument.load(arrayBuffer);
        return pdf;
    }

    const downloadAll = async() => {

        const downloadButton = document.getElementById('downloadAll');
        downloadButton.disabled = true;

        while (downloadButton.firstChild) {
            downloadButton.removeChild(downloadButton.lastChild);
        }

        const innerDiv = document.createElement('div');
        innerDiv.classList.add("lds-dual-ring")
        downloadButton.append(innerDiv);
        
        await downloadAllZip();

        /*
        const documentsToMerge = [];

        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/values/values-all.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/team-members/team-members-all.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/moral-qualities/moral-qualities-all.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/critical-friends/critical-friends-all.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/consent/consent-all.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/provocations/provocations-facilitation-sheets.pdf'));

        //Load provocation cards
        const doc = provocationCardsPDFGenerator().generatePdf(provocationCardsForPDF);
        let cards = doc.output('arraybuffer');
        documentsToMerge.push(await PDFLib.PDFDocument.load(cards));
        
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/provocations/provocations-capture-sheets.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/warp-&-weft/warp-&-weft-all.pdf'));
        documentsToMerge.push(await loadPdfFile('{{site.baseurl}}/assets/pdfs/glossary/glossary-of-terms-a3-folded.pdf'));
        
        const mergedPdf = await PDFLib.PDFDocument.create();

        for(let doc of documentsToMerge) {
            const copiedPages = await mergedPdf.copyPages(doc, doc.getPageIndices());
            copiedPages.forEach((page) => {
                mergedPdf.addPage(page);
            });
        }

        //Download File
        const mergedPdfFile = await mergedPdf.save();

        const blob = new Blob( [ mergedPdfFile ], { type: 'application/pdf' } );	
        const objectURL = URL.createObjectURL( blob );

        const link = document.createElement( 'a' );
        link.style.display = 'none';
        document.body.appendChild( link );

        link.href = objectURL;
        link.href = URL.createObjectURL( blob );
        link.download = 'ethical-roadmap-all';
        link.click();
        */
        
        while (downloadButton.firstChild) {
            downloadButton.removeChild(downloadButton.lastChild);
        }

        const downloadIcon = document.createElement('i');
        downloadIcon.classList.add("fas", "fa-download");
        
        const downloadText = document.createTextNode("All Content");

        downloadButton.append(downloadIcon);
        downloadButton.append(downloadText);
        downloadButton.disabled = false;
    }

</script>