---
layout: default
---
{% assign intro = site.texts | where:"ref", "intro" | first %}

<style>
body {
    background: white;
}
</style>

<div id="home-container-padding">
    <div id="home-container">
        <div id="home-text">
            {{intro.text}}
        </div>
        <div class="card-list">
            {% include category_cards.html %}  
        </div>
        <div class="download-button-container">
            <a download class="download-button" href="{{site.baseurl}}/assets/pdfs/all.pdf" style="font-size: 25px; padding: 25px 40px;"><i class="fas fa-download"></i> All Content</a>
        </div>
    </div>
</div>


<script>

    $(".category-content").click(function() {
        window.location.href = $(this).attr('data-url');
    });
    
</script>