@font-face {
    font-family: Pasajero;
    src: url("../assets/fonts/Pasajero.otf");
}

@font-face {
    font-family: Neue Haas Grotesk;
    src: url("../assets/fonts/NHaasGroteskTXPro-55Rg.ttf");
}

@font-face {
    font-family: Calibri;
    src: url("../assets/fonts/Calibri.ttf");
}

@font-face {
    font-family: Calibri Light;
    src: url("../assets/fonts/Calibril.ttf");
}

@font-face {
    font-family: Calibri Bold;
    src: url("../assets/fonts/Calibri Bold.ttf");
}




  