@font-face {
    font-family: Pasajero;
    src: url("../assets/fonts/Pasajero.otf");
}

@font-face {
    font-family: Neue Haas Grotesk;
    src: url("../assets/fonts/NHaasGroteskTXPro-55Rg.ttf");
}


  