.a4-page {
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
}

.value-card-container {
    height:310px;
    width:310px; 
}

.card-list {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: stretch;
}

.value-card {
    height:300px;
    width:300px; 
    background: #921f82;
    display: flex;
}

.value-card-text {
    margin: auto;
    font-family: Pasajero;
    color: white;
    font-size:18px"
}
