
#home-container-padding {
    padding-left: 30px; 
    padding-right: 30px; 
    padding-bottom: 30px;
}

#home-container {
    background-color: #efedee;
    border-radius: 10px;
    min-width: 250px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home-text {
    color: black; 
    font-family: Lato; 
    line-height: 1.2; 
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    text-align: left;
}

.card-list {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: stretch;
}

.category-card {
    min-height: 420px;
    padding: 20px;
    display: inline-block;
    align-self: stretch;
}

.category-content {
    background: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px; 
    width: 255px; 
    border-radius: 10px;
}

.category-title {
    font-family: Pasajero, sans-serif;
    font-size: 25px; 
    font-style: normal; 
    font-weight: normal; 
    color: white; 
    padding:12px;
}

.category-image {
    background:white;
    padding-top: 35px;
}

.category-description-container {
    background: white; 
    padding: 17px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    height: 130px;
}

.category-description-text {
    font-family: Calibri Light, sans-serif;
    font-size: 13px; 
    font-style: normal; 
    font-weight: 300; 
    line-height: 1.5;
}

ul.prompts {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul.prompts li:before {
	content: "⁄";
	position: absolute;
    left: 0;
    padding-bottom: 20px;
}

ul.prompts li {
    padding-bottom: 20px;
}

.category-container {
    max-width: 920px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    flex: 1;
    flex: 1 1 auto;
    padding-bottom: 30px;
}

.category-section {
    padding: 30px;
}

.category-card-big {
    background-color: #fff;
    border-radius: 10px;
    min-width: 250px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.category-primary-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Pasajero, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    color: white;
    padding: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.category-secondary-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #a54e98;
    font-family: Pasajero, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    color: white;
    padding: 12px;
}

.category-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-content-1-column {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-family: Calibri
}

.category-content-2-column {
    flex: 1;
    min-width: 250px;
    padding: 30px;
    font-family: Calibri;
}

.download-button {
    color: white;
    padding: 15px 20px;
    background-color: #f16336;
    border: 1px solid #fff;
    margin: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    text-align: right;
    font-family: Comfortaa, sans-serif;
    width: 250px;
    text-align: center;
}

.pink-colour {
    color: #ef279a
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height:280px; 
    width:280px;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    margin: auto;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    background: white;
    color: black;
    transform: rotateY(180deg);
    z-index: 1;
  }

  .role-card-front {
    display:flex;
    justify-content:center;
    align-items:center;
    width:280px;height:280px;
    flex-direction: column;
  }

  .role-card-front-tile {
    font-family: Pasajero;
    color: white;
    font-size:30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .role-card-front-subtile {
    font-family: Calibri, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: white
  }

  .role-card-back {
    border-style: solid;
    border-color: #d8b43b;
    border-width: 5px;
    background: white;
    color: black; font-family: Calibri;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }

.role-card-back-type {
    position: absolute;
    bottom: 5px;
    right: 10px; color: #d8b43b;
    font-family: Pasajero, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.role-cards-carousel-number {
    font-family: Calibri;
    color: black;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
  }

.role-cards-carousel-container {
    position: relative;
    margin: auto;
  }
  
  .role-cards-carousel-prev, .role-cards-carousel-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .role-cards-carousel-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .role-cards-carousel-prev:hover, .role-cards-carousel-next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
      .role-cards-carousel-prev, .role-cards-carousel-next,.text {font-size: 11px}
  }

  .animal-carousel-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }

  .animal-carousel-prev, .animal-carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .animal-carousel-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .animal-carousel-prev:hover, .animal-carousel-next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  @media only screen and (max-width: 300px) {
    .animal-carousel-prev, .animal-carousel-next,.text {font-size: 11px}
  }

  .animal-carousel-fade {
    -webkit-animation-name: animal-carousel-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: animal-carousel-fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes animal-carousel-fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes animal-carousel-fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.animal-carousel-number {
    font-family: Calibri;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.category-content-title {
    width: 100%;
    text-align: center;
    font-family: Pasajero;
    font-size: 18px;
}

.single-side-card-container {
    height:200px;
    width:200px;
}

.single-side-card-full-color {
    height:180px;
    width:180px;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    margin: auto;
}

.single-side-card-border-color {
    height: 174px;
    width: 174px;
    background: white;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    border-style: solid;
    border-width: 3px;
    margin: auto;
}

.single-side-card-text {
    margin: auto;
    font-family: Pasajero;
    color: white;
    font-size:18px;
}

.provocation-card {
    width: 380px;
    height: 258px;
}

.provocation-card-inner {
    width: 360px;
    height: 238px;
}

.provocation-card-front {
    width: 360px;
    height: 238px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.provocation-card-back {
    width: 360px;
    height: 238px;
    background: white;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.provocation-card-text {
    color: rgb(255, 255, 255);
    font-family: Pasajero, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    padding-left: 30px;
    padding-right: 30px;
}

.provocation-cards-carousel-number {
    font-family: Calibri;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
}

.provocation-cards-carousel-prev, .provocation-cards-carousel-next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.provocation-cards-carousel-prev {
    left: 10px;
}

.provocation-cards-carousel-next {
    right: 10px;
}

.provocation-cards-title {
    max-width: 380px;
}

.provocation-cards-title-padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.provocation-card-outline {
    outline-color: white;
    outline-style: solid;
    outline-width: 4px;
    width: 344px;
    height: 221px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.provocation-card-back-title {
    font-family: Pasajero;
    font-size: 25px;
    color: #80483b;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.provocation-card-back-subtitle {
    font-family: Calibri;
}

.role-cards-list-padding {
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.alphabet-letter-button {
  font-weight: bold;
  border-style: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
}

.alphabet-letter-button:enabled {
  cursor: pointer;
}

.active-alphabet-letter-button, .alphabet-letter-button:hover:enabled {
  outline-color: lightgrey;
  outline-style: solid;
  outline-width: 2px;
}

.termBlock {
  /*
  border-bottom: 1px solid #ccc; 
  padding-top: 10px;
  */
  padding-bottom: 20px;
}

.termTitle {
  font-weight: bold;
  font-size: 20px;
}

.termDefinition {
  text-align: justify;
}


@media only screen and (max-width: 425px) {

  .category-section {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media only screen and (max-width: 375px) {

  .role-cards-list-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .provocation-card {
    width: 100%;
  }

  .card-list {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media only screen and (max-width: 320px) {

  .category-content-1-column {
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-content-2-column {
    padding-left: 10px;
    padding-right: 10px;
  }

  .provocation-card-inner {
    width: 100%;
  }

  .provocation-card-front {
    width: 100%
  }

  .provocation-card-outline {
    width: 95%;
  }

}